@import "components/grid-container.scss";
@import "components/hero.scss";
@import "components/footer.scss";
@import "components/header.scss";

@import "components/button.scss";
@import "components/navbar.scss";
@import "components/category-box.scss";
@import "components/line-break.scss";
@import "components/social-media.scss";
@import "components/form.scss";
@import "components/image.scss";
@import "components/menu-overlay.scss";
@import "components/_card.scss";

@import "views/contact.scss";
@import "views/gallery.scss";

@import "fonts.scss";
@import "colors.scss";

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	//background: #222;
    background: url("https://texturefabrik.files.wordpress.com/2013/05/26-05-2013_sprayed_04.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
    background-blend-mode: multiply;
	
	@include respond-to($phone) {
		background-attachment: inherit;
	}
	
}