body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("http://i.imgur.com/5qpl0KU.png");
  background-size: cover !important;
  background-position: center center; }
  section.about {
    height: 70vh; }
  section.categories {
    height: 50vh; }

.button-row {
  margin: 50px auto 10px auto;
  display: flex;
  justify-content: center; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%;
  margin: 0;
  padding: 0; }

.image-col {
  background: url("http://i.imgur.com/CX5QmN2.jpg");
  background-size: cover !important;
  background-position: center center !important; }

.center-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.primary-theme {
  background: white; }
  .primary-theme h1 {
    color: purple; }
  .primary-theme strong {
    color: gold; }
  .primary-theme p {
    color: #333; }
  .primary-theme button {
    color: purple;
    border-color: purple; }
    .primary-theme button.active {
      background: purple;
      color: white; }
    .primary-theme button:hover {
      background: purple;
      color: white; }

.primary-theme-inverted {
  background: purple; }
  .primary-theme-inverted h1 {
    color: white; }
  .primary-theme-inverted strong {
    color: gold; }
  .primary-theme-inverted p {
    color: white; }
  .primary-theme-inverted button {
    color: white;
    border-color: white; }
    .primary-theme-inverted button.active {
      background: white;
      color: purple; }

button {
  padding: 15px 25px;
  color: white;
  border: 3px solid white;
  background: transparent;
  margin: 0 10px;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms ease-in-out; }
  button.active {
    color: #333;
    background: white; }
  button:hover {
    background: white;
    color: #333; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end; }
  .navbar .nav-link {
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: "Andale Mono";
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 400ms; }
    .navbar .nav-link:hover {
      color: goldenrod;
      border-bottom-color: goldenrod; }
    .navbar .nav-link.active {
      color: #ffd800;
      border-bottom-color: #ffd800; }

.category-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }

.category-box {
  height: 250px;
  width: 250px;
  background: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 3px 3px 6px #333;
  background: url("http://i.imgur.com/CX5QmN2.jpg");
  background-size: cover !important;
  background-position: center !important; }
  .category-box h1 {
    font-size: 55px; }

@font-face {
  font-family: "High Tide - Demo";
  src: url("../assets/HighTide.ttf"); }

@font-face {
  font-family: "Andale Mono";
  src: url("../assets/Andale Mono.ttf"); }

p, button {
  font-family: "Andale Mono" !important; }

h1 {
  font-family: "High Tide - Demo";
  font-size: 85px;
  color: white;
  text-shadow: 0px 2px 1px black;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 100px; }

p {
  font-size: 16px;
  color: white;
  line-height: 32px;
  width: 70%;
  margin: 30px auto; }

strong {
  color: #ffd800; }
