body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

@keyframes animateBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://i.imgur.com/BCG6ok4.png");
  background-color: palevioletred;
  background-blend-mode: multiply;
  background-size: 200%;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-attachment: fixed;
  animation: animateBackground 40s linear infinite; }
  @media only screen and (max-width: 480px) {
    section {
      background-size: cover; } }
  section.about {
    height: 70vh; }
  section.categories {
    height: 50vh; }
  section.contact {
    height: 100vh; }
  section.footer {
    height: 40vh;
    background: deepskyblue; }

.button-row {
  margin: 50px auto 10px auto;
  display: flex;
  justify-content: center; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%;
  margin: 0;
  padding: 0; }

.image-col {
  background: url("http://i.imgur.com/953xDKj.jpg");
  background-size: cover !important; }

.center-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.primary-theme {
  background: white; }
  .primary-theme h1 {
    color: deepskyblue; }
  .primary-theme strong {
    color: gold; }
  .primary-theme p {
    color: #333; }
  .primary-theme button {
    color: deepskyblue;
    border-color: deepskyblue; }
    .primary-theme button.active {
      background: deepskyblue;
      color: white; }
    .primary-theme button:hover {
      background: deepskyblue;
      color: white; }

.primary-theme-inverted {
  background: deepskyblue; }
  .primary-theme-inverted h1 {
    color: white; }
  .primary-theme-inverted strong {
    color: gold; }
  .primary-theme-inverted p {
    color: white; }
  .primary-theme-inverted button {
    color: white;
    border-color: white; }
    .primary-theme-inverted button.active {
      background: white;
      color: deepskyblue; }

button {
  padding: 15px 25px;
  color: white;
  border: 3px solid white;
  background: transparent;
  margin: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms ease-in-out; }
  button.active {
    color: #333;
    background: white; }
  button:hover {
    background: white;
    color: #333; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  z-index: 100; }
  .navbar .nav-link {
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Andale Mono";
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 400ms; }
    .navbar .nav-link:hover {
      color: dodgerblue;
      border-bottom-color: dodgerblue; }
    .navbar .nav-link.active {
      color: deepskyblue;
      border-bottom-color: deepskyblue; }
    .navbar .nav-link.button {
      margin-left: 10px;
      border: 2px solid white; }
      .navbar .nav-link.button:hover {
        background: white; }

.category-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  background: dodgerblue;
  background-size: cover   !important; }
  .category-box.gallery {
    background: url("http://i.imgur.com/CX5QmN2.jpg"); }
  .category-box.cast {
    background: url("http://i.imgur.com/CtoSUkG.jpg"); }
  .category-box.characters {
    background: url("http://i.imgur.com/caS9AhG.jpg"); }
  .category-box h1 {
    font-size: 55px; }

.line-break {
  height: 7px;
  width: 100px;
  margin: 40px auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white; }

.social-media-row {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px auto; }
  .social-media-row .fa {
    font-size: 70px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer; }

@font-face {
  font-family: "High Tide - Demo";
  src: url("../assets/HighTide.ttf"); }

@font-face {
  font-family: "Andale Mono";
  src: url("../assets/Andale Mono.ttf"); }

p, button {
  font-family: "Andale Mono" !important; }

h1 {
  font-family: "High Tide - Demo";
  font-size: 65px;
  color: white;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 90px; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 45px;
      line-height: 65px; } }

h2 {
  font-family: "High Tide - Demo";
  font-size: 45px;
  color: white;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 70px; }
  @media only screen and (max-width: 480px) {
    h2 {
      font-size: 25px;
      line-height: 45px; } }

p {
  font-size: 16px;
  color: white;
  line-height: 32px;
  width: 70%;
  margin: 30px auto; }

strong {
  color: deepskyblue; }

.question-mark {
  font-size: 60px;
  font-family: "Marker Felt"; }
  @media only screen and (max-width: 480px) {
    .question-mark {
      font-size: 45px; } }
