@keyframes animateBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

@media only screen and (max-width: 480px) {
  .container {
    width: 100%; } }

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("http://i.imgur.com/jhkoXzR.jpg");
  background-color: grey;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  @media only screen and (max-width: 480px) {
    section {
      background-size: cover; } }
  @media only screen and (max-width: 480px) {
    section.home {
      flex-direction: row; } }
  section.home .overlay {
    color: white;
    right: inherit;
    width: 50vw;
    background: dodgerblue; }
  section.about {
    height: 50vh; }
    @media only screen and (max-width: 480px) {
      section.about {
        height: 70vh; } }
  section.categories {
    height: auto; }
  section.contact {
    height: 100vh; }
  section.footer {
    height: 12vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent; }
  @media only screen and (max-width: 480px) {
    section.hide-mobile {
      display: none; } }

.button-row {
  margin: 20px auto;
  display: flex;
  justify-content: center; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%;
  margin: 0;
  padding: 0; }

.image-col {
  background: url("https://firebasestorage.googleapis.com/v0/b/brenda-website.appspot.com/o/19197575_10209781557711358_825897358_o.jpg?alt=media&token=e206a910-0b30-4b69-9847-0c8ef9aa935f");
  background-size: cover !important; }

.center-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.primary-theme {
  background: white; }
  .primary-theme h1 {
    color: deepskyblue; }
  .primary-theme strong {
    color: gold; }
  .primary-theme p {
    color: white; }
  .primary-theme button {
    color: deepskyblue;
    border-color: deepskyblue; }
    .primary-theme button.active {
      background: deepskyblue;
      color: white; }
    .primary-theme button:hover {
      background: deepskyblue;
      color: white; }

.primary-theme-inverted {
  background: deepskyblue; }
  .primary-theme-inverted h1 {
    color: white; }
  .primary-theme-inverted strong {
    color: gold; }
  .primary-theme-inverted p {
    color: white; }
  .primary-theme-inverted button {
    color: white;
    border-color: white; }
    .primary-theme-inverted button.active {
      background: white;
      color: deepskyblue; }
    .primary-theme-inverted button:hover {
      background: white;
      color: deepskyblue; }

button {
  padding: 15px 25px;
  color: white;
  border: 2px solid white;
  background: transparent;
  margin: 0 6px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms ease-in-out; }
  button.active {
    color: #333;
    background: white; }
  button:hover {
    background: white;
    color: #333; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  z-index: 100; }
  @media only screen and (max-width: 480px) {
    .navbar {
      padding: 15px; } }
  .navbar .nav-menu-button {
    display: none;
    font-size: 24px;
    padding: 10px 20px;
    z-index: 205; }
    @media only screen and (max-width: 480px) {
      .navbar .nav-menu-button {
        display: initial;
        color: white; } }
  .navbar .nav-link {
    color: white;
    padding: 4px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 400ms;
    text-decoration: none !important; }
    .navbar .nav-link.brand-name {
      position: absolute;
      left: 20px;
      border-bottom: none; }
    @media only screen and (max-width: 480px) {
      .navbar .nav-link {
        display: none; } }
    .navbar .nav-link:hover {
      color: dodgerblue;
      border-bottom-color: dodgerblue; }
    .navbar .nav-link.active {
      color: deepskyblue;
      border-bottom-color: deepskyblue; }
    .navbar .nav-link.button {
      margin-left: 10px;
      border: 2px solid white;
      padding-left: 10px;
      padding-right: 10px; }
      .navbar .nav-link.button:hover {
        background: white; }
      .navbar .nav-link.button.active {
        background: white; }

.category-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 40vh;
  position: relative;
  background: dodgerblue;
  background-size: cover   !important; }
  @media only screen and (max-width: 480px) {
    .category-box {
      height: 33.3333vh; } }
  .category-box.gallery {
    background: url("http://i.imgur.com/CX5QmN2.jpg"); }
  .category-box.cast {
    background: url("http://i.imgur.com/CtoSUkG.jpg"); }
  .category-box.characters {
    background: url("http://i.imgur.com/caS9AhG.jpg"); }
  .category-box:hover .overlay {
    background: dodgerblue; }
  .category-box h1 {
    font-size: 55px;
    color: white;
    font-weight: inherit; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: purple;
  opacity: 0.5;
  transition: all 200ms linear;
  cursor: pointer; }

.line-break {
  height: 7px;
  width: 100px;
  margin: 40px auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white; }

.social-media-row {
  display: flex;
  justify-content: center; }
  .social-media-row .fa {
    font-size: 40px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer; }

input[type=text], textarea {
  background: transparent;
  padding: 10px 5px;
  padding-left: 15px;
  resize: none;
  width: 80%;
  border: none; }

.input-block {
  position: relative;
  text-align: left;
  max-width: 400px;
  width: 90%;
  margin: 10px auto;
  border: 1px solid grey;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .input-block .fa {
    margin-right: 10px; }
    .input-block .fa.fa-check {
      color: deepskyblue; }

textarea, input, button {
  outline: none; }

.image-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 350px;
  transform: scaleX(-1); }
  @media only screen and (max-width: 480px) {
    .image-left {
      display: none; } }

.image-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
  transform: scaleX(-1); }
  @media only screen and (max-width: 480px) {
    .image-right {
      display: none; } }

.menu-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  opacity: 0.9;
  z-index: 99;
  overflow: hidden;
  background: #333; }
  .menu-overlay body {
    display: none; }
  .menu-overlay .overlay-link {
    color: white !important;
    margin: 5px auto;
    padding: 8px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    transition: all 300ms; }
    .menu-overlay .overlay-link:hover {
      border-bottom-color: white; }
  .menu-overlay .menu-container {
    height: 60vh; }

section.contact .col-xs-12, section.gallery .col-xs-12 {
  text-align: center; }

section.contact h2, section.contact h3, section.gallery h2, section.gallery h3 {
  margin: 5px auto; }

section.gallery {
  overflow: hidden;
  justify-content: flex-end; }
  section.gallery .gallery-button {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    section.gallery .gallery-button span {
      user-select: none;
      padding: 10px 16px;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 20px;
      border: 2px solid white; }
    section.gallery .gallery-button.previous {
      left: 0; }
    section.gallery .gallery-button.next {
      right: 0; }
  section.gallery .gallery-container {
    height: 100vh;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden; }
    section.gallery .gallery-container img {
      height: 60%;
      box-shadow: 3px 3px 12px black; }

@font-face {
  font-family: "High Tide - Demo";
  src: url("../assets/HighTide.ttf"); }

@font-face {
  font-family: "Andale Mono";
  src: url("../assets/Andale Mono.ttf"); }

h1 {
  font-family: "Amatica SC";
  font-size: 60px;
  color: white;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 90px;
  z-index: 10; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 45px;
      line-height: 65px; } }

h2 {
  font-family: "Amatic SC";
  font-size: 45px;
  color: white;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 70px; }
  @media only screen and (max-width: 480px) {
    h2 {
      font-size: 25px;
      line-height: 45px; } }

h3 {
  font-family: "Amatic SC"; }

p {
  font-size: 16px;
  color: white;
  line-height: 32px;
  max-width: 350px;
  margin: 30px auto; }

strong {
  color: deepskyblue;
  font-family: "Amatic SC"; }

.question-mark {
  font-size: 40px;
  font-family: "Marker Felt"; }
  @media only screen and (max-width: 480px) {
    .question-mark {
      font-size: 45px; } }

* {
  color: white;
  font-family: "Abel"; }

.col-sm-6 {
  text-align: center; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: cadetblue; }
