@import "colors.scss";
@import "media.scss";

@font-face {
	font-family: "High Tide - Demo";
	src: url("../assets/HighTide.ttf");
}

@font-face {
	font-family: "Andale Mono";
	src: url("../assets/Andale Mono.ttf");
}

h1 {
	font-family: "High Tide - Demo";
	font-size: 70px;
	color: #333;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	line-height: 90px;
	font-weight: bold;
	
	z-index: 10;
	
	@include respond-to($phone) {
		font-size: 45px;
		line-height: 65px;
	}
	
}

h2 {
	font-family: "High Tide - Demo";
	font-size: 45px;
	color: #333;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	line-height: 70px;
	
	@include respond-to($phone) {
		font-size: 25px;
		line-height: 45px;
	}
	
}

p {
	font-size: 16px;
	color: #333;
	line-height: 32px;
	width: 70%;
	margin: 30px auto;
}

strong {
	color: $primary;
	font-family: "High Tide - Demo";
}

.question-mark {
	font-size: 50px;
	//font-weight: bold;
	font-family: "Marker Felt";
	
	@include respond-to($phone) {
		font-size: 45px;
	}
	
}

* {
	color: #333;
	font-family: "Andale Mono";
}

.col-sm-6 {
	text-align: center;
}

