button {
	padding: 15px 25px;
	color: white;
	border: 2px solid white;
	background: transparent;
	margin: 0 6px;
	font-size: 12px;
	text-transform: uppercase;
	
	cursor: pointer;
	
	transition: all 400ms ease-in-out;
	
	&.active {
		color: #333;
		background: white;
	}
	&:hover {
		background: white;
		color: #333;
	}
}