button {
  padding: 15px 25px;
  color: #333;
  border: 3px solid #333;
  background: transparent;
  margin: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms ease-in-out; }
  button.active {
    color: white;
    background: #333; }
  button:hover {
    background: #333;
    color: white; }
