.category-row {
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-around;
	width: 100%;
}

.category-box {
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	
	position: relative;
	//box-shadow: 3px 3px 6px #333;
	background: $primary-hover;
	
	&.gallery { background: url("http://i.imgur.com/CX5QmN2.jpg")}
	&.cast { background: url("http://i.imgur.com/CtoSUkG.jpg")}
	&.characters { background: url("http://i.imgur.com/caS9AhG.jpg")}
	
	background-size: cover   !important;
	//background-position: center center !important;
	
	h1 {
		font-size: 55px;
	}
	
}