@import "../colors.scss";

.category-row {
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-around;
	width: 100%;
}

.category-box {
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	
	height: 40vh;
	
	position: relative;
	background: $primary-hover;
	
	&.gallery { background: url("http://i.imgur.com/CX5QmN2.jpg")}
	&.cast { background: url("http://i.imgur.com/CtoSUkG.jpg")}
	&.characters { background: url("http://i.imgur.com/caS9AhG.jpg")}
	
	background-size: cover   !important;
	
	&:hover {
		.overlay { background: $primary-hover }
	}
	
	h1 {
		font-size: 55px;
		color: white;
		font-weight: inherit;
	}
	
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right :0;
	background: purple;
	opacity: 0.5;
	transition: all 200ms linear;
	
	cursor: pointer;
	
}