@import "../colors.scss";
@import "../media.scss";

input[type=text], input[type=time] , textarea {
	background: transparent;
	padding: 10px 5px;
	padding-left: 15px;
	resize: none;
	width:80%;
	border: none;
}

.input-block {
	
	position: relative;
	
	text-align: left;
	max-width:400px;
	width: 90%;
	margin: 10px auto;
	border: 1px solid grey;
	background: rgba(0,0,0,0.4);
	
	display: flex;
	justify-content: space-between;
	align-items: center;

    &.date {
      input {
        width: 300px;
        @include respond-to($phone) { width: 200px }
      }
    }

	&.two-col {
        input { width: 40%; }
		input[type=text]:first-of-type, input[type=time]:first-of-type {
          border-right:1px solid gray;
          margin-right: 5px;
        }
	}
	
	.fa {
		margin-right: 10px;
		
		&.fa-check { color: $primary }
		
	}
	
}

textarea, input, button { outline: none; }