input[type=text], input[type=time], textarea {
  background: transparent;
  padding: 10px 5px;
  padding-left: 15px;
  resize: none;
  width: 80%;
  border: none; }

.input-block {
  position: relative;
  text-align: left;
  max-width: 400px;
  width: 90%;
  margin: 10px auto;
  border: 1px solid grey;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .input-block.date input {
    width: 300px; }
    @media only screen and (max-width: 480px) {
      .input-block.date input {
        width: 200px; } }
  .input-block.two-col input {
    width: 40%; }
  .input-block.two-col input[type=text]:first-of-type, .input-block.two-col input[type=time]:first-of-type {
    border-right: 1px solid gray;
    margin-right: 5px; }
  .input-block .fa {
    margin-right: 10px; }
    .input-block .fa.fa-check {
      color: deepskyblue; }

textarea, input, button {
  outline: none; }
