@import "../colors.scss";

input[type=text], textarea {
	background: transparent;
	padding: 10px 5px;
	padding-left: 15px;
	resize: none;
	width:80%;
	border: none;
}

.input-block {
	
	position: relative;
	
	text-align: left;
	max-width:400px;
	width: 90%;
	margin: 10px auto;
	border: 1px solid grey;
	background: rgba(0,0,0,0.4);
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	//:inp{
	//	width: 100%;
	//	background:red;
	//	cursor: pointer;
	//}
	
	.fa {
		margin-right: 10px;
		
		&.fa-check { color: $primary }
		
	}
	
}

textarea, input, button { outline: none; }