@import "../media.scss";

.container {

  max-width: 960px;
  margin: 0 auto;
  width: 100%;

}

.content-container {
  margin: 30px auto;
	
	@include respond-to($phone) {
		margin: 0 auto !important;
	}
}

.button-row {
  text-align: center;
  margin: 30px auto;
}