.hero {

  background-size: cover !important;
  background-position: bottom !important;
  background-attachment: fixed !important;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  background-color: darkmagenta !important;
  background-blend-mode: overlay !important;


  .button-row {
    margin: 40px auto;
  }


}