.menu-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  opacity: 0.9;
  z-index: 99;
  overflow: hidden;
  background: dodgerblue; }
  .menu-overlay body {
    display: none; }
  .menu-overlay .overlay-link {
    color: white !important;
    margin: 5px auto;
    padding: 8px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    width: 120px;
    text-align: center;
    transition: all 300ms; }
    .menu-overlay .overlay-link:hover {
      border-bottom-color: white; }
  .menu-overlay .menu-container {
    height: 60vh; }
