.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  z-index: 100; }
  @media only screen and (max-width: 480px) {
    .navbar {
      padding: 15px; } }
  .navbar .nav-menu-button {
    display: none;
    font-size: 24px;
    z-index: 205; }
    @media only screen and (max-width: 480px) {
      .navbar .nav-menu-button {
        display: initial;
        color: white; } }
  .navbar .nav-link {
    color: white;
    padding: 4px;
    text-transform: uppercase;
    font-family: "Andale Mono";
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 400ms;
    text-decoration: none !important; }
    @media only screen and (max-width: 480px) {
      .navbar .nav-link {
        display: none; } }
    .navbar .nav-link:hover {
      color: dodgerblue;
      border-bottom-color: dodgerblue; }
    .navbar .nav-link.active {
      color: deepskyblue;
      border-bottom-color: deepskyblue; }
    .navbar .nav-link.button {
      margin-left: 10px;
      border: 2px solid white; }
      .navbar .nav-link.button:hover {
        background: white; }
