@import "../colors.scss";
@import "../media.scss";

.navbar {
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 40px;
	
	display: flex;
	justify-content: flex-end;
	
	z-index: 100;
	
	@include respond-to($phone) {
		padding: 15px;
	}
	
	
	.nav-menu-button {
		display: none;
		font-size: 24px;
		
		z-index: 205;
		
		@include respond-to($phone) {
			display: initial;
			color: white;
		}
	}
	
	.nav-link {
		color: white;
		padding: 4px;
		text-transform: uppercase;
		font-family: "Andale Mono";
		border-bottom: 3px solid transparent;
		cursor: pointer;
		transition: all 400ms;
		
		text-decoration: none !important;
		
		@include respond-to($phone) {
			display: none;
		}
		
		&:hover {
			color: $primary-hover;
			border-bottom-color: $primary-hover;
		}
		
		&.active {
			color: $primary;
			border-bottom-color: $primary;
		}
		
		&.button {
			margin-left:10px;
			border: 2px solid white;
			&:hover { background: white }
		}
		
	}
}