.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  z-index: 100; }
  .navbar .nav-link {
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Andale Mono";
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 400ms; }
    .navbar .nav-link:hover {
      color: dodgerblue;
      border-bottom-color: dodgerblue; }
    .navbar .nav-link.active {
      color: deepskyblue;
      border-bottom-color: deepskyblue; }
    .navbar .nav-link.button {
      margin-left: 10px;
      border: 2px solid white; }
      .navbar .nav-link.button:hover {
        background: white; }
