.container {
	max-width: 960px;
	margin: 0 auto;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background-size: cover !important;
	background-position: center center;
	
	&.home  { background: url("http://i.imgur.com/OsoF39r.png") }
	&.about { background: url("http://i.imgur.com/VYz0BqI.png") }
}

.button-row {
	margin: 50px auto 10px auto;
	display: flex;
	justify-content: center;
}