@import "../media.scss";
@import "../colors.scss";

@keyframes animateBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background-image: url("http://i.imgur.com/c8yTj5q.jpg");
	background-color: teal;
	background-blend-mode: multiply;
	background-attachment: fixed;
	background-size:cover;
	
	position: relative;
	
	//animation: animateBackground 40s linear infinite;
	
	@include respond-to($phone) {
		background-size:cover;
	}
	
	&.home {
		.overlay {
			color: white;
			right: inherit;
			width: 50vw;
			background:$primary-hover;
		}
	}
	&.about {
		height: 60vh; max-width: 960px; margin: 0 auto;
		@include respond-to($phone) {
			height:  70vh;
		}
	}
	&.categories { max-width: 960px; margin: 0 auto; height: auto; }
	&.gallery { background: cornflowerblue }
	&.characters { background: cornflowerblue }
	&.contact { height: 100vh; }
	&.footer { height: 12vh; position: fixed; bottom: 0; left: 0; right: 0; background: transparent }
	
	&.hide-mobile {
		@include respond-to($phone) { display: none }
	}
	
}

.button-row {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

// todo -- kick out into theme sass file and combine with theme


//row/column helpers
.full-height {  height: 100%; }
.full-width {  width: 100%; margin: 0; padding: 0; }
.image-col {
	background: url("http://i.imgur.com/Jl1Be8N.jpg");
	background-size: cover !important;
}

.center-vertical-horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

//themes and backgrounds

// todo -- kick out into theme sass file

.primary-theme {
	background: white;
	h1 { color: $primary }
	strong { color: gold }
	p { color: white }
	button {
		color: $primary;
		border-color: $primary;
		&.active {
			background: $primary;
			color: white;
		}
		&:hover {
			background: $primary;
			color: white;
		}
	}
}

.primary-theme-inverted {
	background: $primary;
	h1 { color: white }
	strong { color: gold }
	p { color: white }
	button {
		color: white;
		border-color: white;
		&.active {
			background: white;
			color: $primary;
		}
		&:hover { background: white; color: $primary}
	}
}
