@keyframes animateBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://i.imgur.com/LJcvVUf.jpg");
  background-color: teal;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 480px) {
    section {
      background-size: cover; } }
  section.home .overlay {
    color: white;
    right: inherit;
    width: 50vw;
    background: dodgerblue; }
  section.about {
    height: 60vh;
    max-width: 960px;
    margin: 0 auto; }
    @media only screen and (max-width: 480px) {
      section.about {
        height: 70vh; } }
  section.categories {
    max-width: 960px;
    margin: 0 auto;
    height: auto; }
  section.gallery {
    background: cornflowerblue; }
  section.characters {
    background: cornflowerblue; }
  section.contact {
    height: 100vh; }
  section.footer {
    height: 12vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent; }
  @media only screen and (max-width: 480px) {
    section.hide-mobile {
      display: none; } }

.button-row {
  margin: 20px auto;
  display: flex;
  justify-content: center; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%;
  margin: 0;
  padding: 0; }

.image-col {
  background: url("http://i.imgur.com/Jl1Be8N.jpg");
  background-size: cover !important; }

.center-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.primary-theme {
  background: white; }
  .primary-theme h1 {
    color: deepskyblue; }
  .primary-theme strong {
    color: gold; }
  .primary-theme p {
    color: white; }
  .primary-theme button {
    color: deepskyblue;
    border-color: deepskyblue; }
    .primary-theme button.active {
      background: deepskyblue;
      color: white; }
    .primary-theme button:hover {
      background: deepskyblue;
      color: white; }

.primary-theme-inverted {
  background: deepskyblue; }
  .primary-theme-inverted h1 {
    color: white; }
  .primary-theme-inverted strong {
    color: gold; }
  .primary-theme-inverted p {
    color: white; }
  .primary-theme-inverted button {
    color: white;
    border-color: white; }
    .primary-theme-inverted button.active {
      background: white;
      color: deepskyblue; }
    .primary-theme-inverted button:hover {
      background: white;
      color: deepskyblue; }
