.social-media-row {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px auto; }
  .social-media-row .fa {
    font-size: 70px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer; }
