section.contact {
  align-items: inherit; }
  section.contact .row {
    height: 100%;
    overflow-x: hidden; }
    section.contact .row .col-xs-12 {
      text-align: center; }
    section.contact .row h2, section.contact .row h3 {
      margin: 20px auto; }
