section.gallery {
  overflow: hidden;
  justify-content: flex-end; }
  section.gallery .gallery-button {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    section.gallery .gallery-button span {
      user-select: none;
      padding: 10px 16px;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 20px;
      border: 2px solid white; }
    section.gallery .gallery-button.previous {
      left: 0; }
    section.gallery .gallery-button.next {
      right: 0; }
  section.gallery .gallery-container {
    height: 100vh;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden; }
    section.gallery .gallery-container img {
      height: 60%;
      box-shadow: 3px 3px 12px black; }
